.rootContainer {
  padding: 1rem;
  background-color: black;
  overflow: auto;
}

.innerContainer {
  width: 100%;
  height: 100%;
  
  background-color: white;
}


.chatBotContainer {
  /* height: calc(100vh - 1rem); */
  height: calc(95vh - 1rem);
  width: 100%;
  /* width: 100vw; */
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
}

.mainContainer {
  width: 100%;
  height: calc(100vh - 2rem);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10%;
}

.mainContainer .title {
  font-size: 25px;
  font-family: 'News Cycle', sans-serif;
  font-weight: 700;
  white-space: nowrap;
}

.mainContainer h2 {
  font-size: 15px;
  font-family: 'Noto Serif', serif;
}

hr {
  background: #333;
  border: 0;
  height: 2px;
  margin: 12px auto 8px;
  width: 60px;
}

.mainContainer p {
  font-size: 15px;
  font-family: 'pt serif', sans-serif;
  line-height: 1.2em;
  text-align: justify;
}

.lastParagraph {
  cursor: pointer;
}

.mainContentContainer {
  width: 250px;
  text-align: center;
}

.resumeContainer {
  width: 100%;
  height: calc(100vh - 2rem);
  text-align: center;
  padding-top: 20%;
  background-color: black;
  color: white;
}

.largeImage {
  width: 40vh;
  height: 40vh;
}

.experienceContainer {
  width: 100%;
  height: calc(100vh - 2rem);
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  color: color;
  padding: 5%;
  box-sizing: border-box;
}

h1 {
  font-size: 50px;
  font-family: 'News Cycle', sans-serif;
}

.worksTextContainer {
  padding-top: 1%;
}

.worksTextTitle {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.worksText {
  color: grey;
}

.farfetchContainer {

}

.companyImage {
  height: 5vh;
}
